@media (max-width: 992px){
    .home_area{
        min-height: auto;
    }
}





.over410 {
    display: inline;
}
.below410 {
    display: none;
}
@media screen and (max-width: 410px) {
    .over410 {
        display: none;
    }
    .below410 {
        display: inline;
    }
}